//Global variables
$primary-font: Helvetica, sans-serif;
$primary-color: #000000;
$primary-background: #E2E2E2;
$color-highlight: rgb(48, 48, 255);
$box-background: #E2E2E2;
$font-light: #424242;
$max-width: 1000px;
$center-inline: auto;
$primery-border: 1px solid #c0c0c0;
