//Global variables
$primary-font: Helvetica, sans-serif;


$primary-color: #000000;
$primary-background: #E2E2E2;
$color-highlight: #002AFF;

$box-background: #E2E2E2;

$max-width: 1000px;
$center-inline: auto;
$primery-border: 1px solid #c0c0c0;


//FONTS 
$fontSizeS: .8rem;
$font-light: #424242;

$letterSpacing: .3rem;