//import 
@use 'mixin' as * ;
@use 'global' as *;
@forward 'header';
@forward 'footer';

//Pages 
@forward 'impressum';
@forward 'referenc';

//import 


//Global values 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url('../icons/cursor.svg'), move; */
    font-weight: 200;
    color: $font-light
}

body {
    font-family: $primary-font;
    background-color: $primary-background;
    position: relative;
    /* cursor: none; */
    scroll-behavior: smooth;
    overscroll-behavior: none;
    .cursorM {
        
        position: absolute;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        border: 2px solid aliceblue;
        z-index: 1000;
        transform: translate(-50%,-50%);
        pointer-events: none;
        
    }
    a:hover ~ .cursorM {
        width: 4rem;
        height: 4rem;
    }

    main {
        min-height: 100vh;
        .hero {
            
    /*         background-image: url('../img/heroImg/redcharlie-redcharlie1--nh7sIKGgAM-unsplash.jpg'); */
        
              background-image: url('../img/heroImg/dorian-mongel-5Rgr_zI7pBw-unsplash.jpg');

       /*     background-image: url('../img/heroImg/dylan-mcleod-4zqvu9dyvSk-unsplash.jpg'); */
            
          /*   background-image: url('../img/heroImg/elias-e-8QOpH6i3eQI-unsplash.jpg'); */
          
            background-attachment: fixed;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 650px;
            display: flex;
            justify-content: start;
            align-items: center;
            position: relative;
            z-index: 5;
            .heroBlur {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 7;
            }
           .heroTitleContainer {
            background-image: url('../img/heroImg/optma-min.png');
         
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center left;
            width: 100%;
            max-width: $max-width;
            margin-inline: auto;
            height: 330px;
            z-index: 8;
           }



        }

        .outContainer {
            max-width: $max-width;
            margin-inline: auto;
        }
        .entSection{
            .imgContainer {
                display: flex;
                justify-content: start;

                img {
                    margin-left: -25px;
                }
            }
        }

        .anfebotsSatzOben {
            border-bottom: $primery-border;
           padding: 1rem 0;
           margin: 3rem 0rem;
           
           background-color: $box-background ;

             h1 {
                @include title;
                /* text-align: center; */
             }
      
        }

        .infosSContainer {
            padding-bottom: 3rem;

            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            h1 {
                @include titleL;
                line-height: 1.5;
                span {
                    line-height: 1.5;
                    display: inline-block;
                }
               /*  text-align: center; */
            }
            .infosS {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                div {
                    @include boxShadow;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    /* border: 1px solid #c0c0c0; */
                    border-radius: 50%;
                    height: 170px;
                    width: 170px;
                    position: relative;
                    .iconForInfos {
                        @include blurS;
                        img {
                            width: 40PX;
                        }
                    }
                    p{
                        font-size: $fontSizeS;
                        max-width: 20ch;
                        height: 4ch;
                        text-align: center;
                        color: $font-light;
                    }
                }
            }
        }


        .place {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 100vh;
            width: 100%;
            padding: 1rem;
            padding-top: 2rem;
           
            .chaild {
                display: flex;
                flex-wrap: wrap;
                padding: 2rem;
                width: 100%;
                max-width: $max-width;
                height: fit-content;
                border-radius: 40px;
                background: #E2E2E2;
                box-shadow:  11px 11px 22px #c0c0c0,
             -11px -11px 22px #ffffff;
             .textContainerHomeBox {
                max-width: 60ch;
                border-right: $primery-border;
                padding-right: 1rem;
                h2 {
                    @include titleL()
                }
                p {
                    font-weight: 200;
                }
             }
      
            } 
        }
    }
    
}






