header {
  margin-bottom: -5rem;
  border-bottom: 1px solid #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(12px);
}
header .navBar {
  max-width: 1000px;
  padding: 0.7rem 0;
  margin-inline: auto;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /* nav */
  /* mixin animation for nav  */
  /* mixin animation for nav  */
}
header .navBar .logo h1 {
  font-weight: 100;
}
header .navBar .nav {
  max-width: 1000px;
  position: reletive;
  /* navutton animation */
}
header .navBar .nav .navButton {
  background-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  border: none;
  width: 2.4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navBar .nav .navButton .line {
  width: 100%;
  border-radius: 10px;
  height: 1px;
  background-color: #000000;
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
header .navBar .nav .navButton .line::before,
header .navBar .nav .navButton .line::after {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background-color: #000000;
  position: absolute;
  content: "";
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
header .navBar .nav .navButton .line::before {
  transform: translateY(10px);
  left: 0;
}
header .navBar .nav .navButton .line::after {
  transform: translateY(-10px);
  left: 0;
}
header .navBar .nav .navButton.open .line {
  transform: translateX(-30px);
  background: transparent;
}
header .navBar .nav .navButton.open .line::before {
  transform: rotate(45deg);
  left: 30px;
}
header .navBar .nav .navButton.open .line::after {
  transform: rotate(-45deg);
  left: 30px;
}
header .navBar .menuContainr {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow-x: hidden;
  transition-duration: 0.3s;
  animation-timing-function: ease-out;
  transform: translateX(100%);
}
header .navBar .menuContainr .menu {
  margin-inline: auto;
  max-width: 1000px;
  row-gap: 1rem;
  display: flex;
  justify-content: end;
}
header .navBar .menuContainr .menu .linksContainerMenu {
  background-color: #000;
  padding: 1rem;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 350px;
  position: relative;
}
header .navBar .menuContainr .menu .linksContainerMenu a {
  font-size: 1.4rem;
  padding: 1rem 0;
  align-self: end;
  text-decoration: none;
  line-height: 2rem;
  color: #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  width: 200px;
  transition-duration: 0.4s;
}
header .navBar .menuContainr .menu .linksContainerMenu a:hover {
  padding-left: 2rem;
}
header .navBar .menuContainr .menu .linksContainerMenu a:last-child {
  border-bottom: none;
  cursor: pointer;
  padding-left: 0;
}
header .navBar .menuContainr .menu .linksContainerMenu:after {
  position: absolute;
  content: "";
  background-image: url("../icons/arrow-right.svg");
  background-size: contain;
  width: 50px;
  height: 50px;
  bottom: 2rem;
  left: 1rem;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}
header .navBar .menuContainerOpen {
  transform: translateX(0);
}

footer {
  background-color: #E2E2E2;
  padding: 2rem 0;
  border-top: 1px solid #000000;
}
footer article {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
footer article nav {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-width: fit-content;
}
footer article nav .Links {
  text-decoration: none;
  color: #424242;
  position: relative;
  transition-duration: 0.3s;
  border-bottom: 2px solid transparent;
  width: fit-content;
}
footer article nav .Links:hover {
  transform: translateY(-3px);
}
footer article nav .Links::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  /*    transform: translateX(-100%); */
  transform: translateY(0.4rem);
  transition-duration: 0.3s;
  border-radius: 25px;
}
footer article nav .Links:hover::after {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  background-color: #424242;
}
footer article div {
  position: relative;
  min-width: fit-content;
}
footer article div .contactDataFooter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
footer article div .contactDataFooter li {
  list-style: none;
  /*  border-bottom: $primery-border; */
  padding-bottom: 0.5rem;
}
footer article div .contactDataFooter li:last-of-type {
  border-bottom: none;
}
footer article div .contactDataFooter li:last-of-type a {
  text-decoration: none;
  color: #424242;
  position: relative;
  transition-duration: 0.3s;
  border-bottom: 2px solid transparent;
}
footer article div .contactDataFooter li:last-of-type a:hover {
  transform: translateY(-3px);
}
footer article div .contactDataFooter li:last-of-type a::after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  /*    transform: translateX(-100%); */
  transform: translateY(0.4rem);
  transition-duration: 0.3s;
  border-radius: 25px;
}
footer article div .contactDataFooter li:last-of-type a:hover::after {
  opacity: 1;
  transform: translateX(0);
  transform: translateY(0);
  background-color: #424242;
}

.impressumPage {
  margin: 9rem 0 0 0;
}
.impressumPage div {
  padding-bottom: 1.2rem;
}
.impressumPage div h2 {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 0.5rem;
}
.impressumPage div h3 {
  padding: 0.4rem 0;
}
.impressumPage div p {
  padding: 0.3rem 0;
}
.impressumPage div li {
  padding: 0.3rem 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: url('../icons/cursor.svg'), move; */
  font-weight: 200;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #E2E2E2;
  position: relative;
  /* cursor: none; */
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
body .cursorM {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  border: 2px solid aliceblue;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
body a:hover ~ .cursorM {
  width: 4rem;
  height: 4rem;
}
body main {
  min-height: 100vh;
}
body main .hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: start;
  align-items: end;
  position: relative;
  z-index: 5;
}
body main .hero .heroBlur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 7;
}
body main .hero .heroTitleContainer {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
}
body main .hero .heroTitleContainer h1 {
  font-size: 3rem;
  line-height: 3.4rem;
  letter-spacing: 0.2rem;
  color: #000;
  z-index: 10;
  position: relative;
  padding: 1rem;
  color: aliceblue;
  background-color: #000;
  display: inline-block;
  margin: auto;
}
body main .outContainer {
  max-width: 1000px;
  margin-inline: auto;
}
body main .entSection .imgContainer {
  display: flex;
  justify-content: start;
}
body main .entSection .imgContainer img {
  margin-left: -25px;
}
body main .anfebotsSatzOben {
  border-bottom: 1px solid #c0c0c0;
  padding: 1rem 0;
  margin: 3rem 0rem;
  background-color: #E2E2E2;
}
body main .anfebotsSatzOben h1 {
  font-size: 1.1rem;
  font-weight: 300;
  color: #424242;
  /* text-align: center; */
}
body main .infosSContainer {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
body main .infosSContainer h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #424242;
  line-height: 1.5;
  /*  text-align: center; */
}
body main .infosSContainer h1 span {
  line-height: 1.5;
  display: inline-block;
}
body main .infosSContainer .infosS {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body main .infosSContainer .infosS div {
  box-shadow: 11px 11px 22px #c0c0c0, -11px -11px 22px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #c0c0c0; */
  border-radius: 50%;
  height: 170px;
  width: 170px;
  position: relative;
}
body main .infosSContainer .infosS div .iconForInfos {
  backdrop-filter: blur(10px);
}
body main .infosSContainer .infosS div .iconForInfos img {
  width: 40PX;
}
body main .infosSContainer .infosS div p {
  font-size: 0.8rem;
  max-width: 20ch;
  height: 4ch;
  text-align: center;
  color: #424242;
}
body main .place {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
}
body main .place .chaild {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  height: fit-content;
  border-radius: 40px;
  background: #E2E2E2;
  box-shadow: 11px 11px 22px #c0c0c0, -11px -11px 22px #ffffff;
}
body main .place .chaild .textContainerHomeBox {
  max-width: 60ch;
  border-right: 1px solid #c0c0c0;
  padding-right: 1rem;
}
body main .place .chaild .textContainerHomeBox h2 {
  font-size: 2rem;
  font-weight: 300;
  color: #424242;
}
body main .place .chaild .textContainerHomeBox p {
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
